<ul class="SideNavi">
  <li class="SideNavi_Item">
    <%= link_to "アカウント", users_path, class: "SideNavi_Item_Link"%>
  </li>
  <li class="SideNavi_Item">
    <%= link_to "プロフィール", users_profile_path, class: "SideNavi_Item_Link"%>
  </li>
</ul>
